# Maven
app/target/
app/.mvn/wrapper/maven-wrapper.jar

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate*

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
